.portfolioItemView {
  width: 100%;
  padding-top: 2rem;

  &__header {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 2rem;

    &--image {
      max-height: 700px;
      max-width: 500px;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center right;
      border-radius: 1.5rem;
      border-bottom-left-radius: 0;
      margin-left: auto;
    }

    &--content {
      padding: 3rem 0;

      .contentHeader {
        padding-top: 0;
        
        h1 {
          text-transform: none;
        }
      }
    }
  }

  &__buildWith {
    width: 100%;
    max-width: 600px;
    h3 {
      padding: 2rem 0 1rem 0;
    }
    &--items {
      display: flex;
      color: $darkgreen;
      font-weight: bold;
    }
  }

  &__links {
    display: flex;
    gap: 1.5rem;
    padding-top: 2rem;
  }

  

  &__images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
    gap: 2rem;
    grid-column: span 2;
    padding-top: 3rem;

    img {
      width: 100%;
      aspect-ratio: 1/1;
      object-fit: cover;
      border-radius: 2rem;

      &:nth-child(4n + 1) {
        border-top-left-radius: 0;
      }

      &:nth-child(4n + 2) {
        border-bottom-right-radius: 0;
      }

      &:nth-child(4n + 3) {
        border-top-right-radius: 0;
      }

      &:nth-child(4n + 4) {
        border-bottom-left-radius: 0;
      }
    }
  }

  &.error {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  @media screen and (max-width: 1024px) {
    &__header {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media screen and (max-width: 768px) {
    &__header {
      display: flex;
      flex-direction: column-reverse;

      &--image {
        height: 400px;
        margin: auto;
      }

      &--content {
        padding: 0;
      }
    }

    &__images {
      grid-template-columns: 1fr;
    }
  }

  @media screen and (max-width: 450px) {
    &__header--image {
      height: 250px;
    }
  }
}
