*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

button {
  background-color: transparent;
  color: black;
  border: none;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: $bodyFont;
  font-size: 1rem;
  font-weight: bold;
  text-transform: lowercase;
  background-color: $purple;
  color: $darkgreen;
  border-radius: 1rem;
  border-bottom-right-radius: 0;
  transition: 0.3s;
  padding: 1rem 1.5rem;
  cursor: pointer;
  user-select: none;

  &.darkgreen {
    background-color: $darkgreen;
    color: white;    
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 0;
  }
}
