body {
  font-family: $bodyFont;
}

h1 {
  font-size: 1.5rem;
  text-transform: lowercase;
}

a {
  color: inherit;
  text-decoration: none;
}

button, input, select, textarea {
  font-family: $bodyFont;
}